node_modules
.expo
.expo-shared
web-dist
build
tmp
android
ios
.git
.gitignore
.githooks
.env
.env.*
**/*.log
archive
BuddyBoard_Client_Packet
dist
.firebase
.communitybridge
.data
.vscode
tests
functions
public/_expo
public/assets
public/dashboard
public/home
*.png
*.jpg
*.jpeg
*.p8
client_secret_*.json
tmp-login.json
