buddy-board.com {
  @api path /api/* /uploads/*
  handle @api {
    reverse_proxy api:3005
  }

  handle {
    reverse_proxy BuddyBoardApp:3000
  }

  # Optional: basic hardening headers
  header {
    X-Content-Type-Options nosniff
    Referrer-Policy no-referrer
  }
}
